.container {
  position: relative;
  font-size: 60px;
}

.container > * {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: anime var(--l) infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes anime {
  0% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
  40% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(0)
  }
}
