.waiting {
  pointer-events: none;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  color: white;
}

.waitingIntro {
  font-size: 3rem;
}

.waitingTimer {
  font-size: 5rem;
  padding: var(--boomer-safe-space);
}

.waitingTip {
  margin-top: var(--boomer-safe-space);
  font-size: 1.25rem;
}

.it {
  pointer-events: none;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 1.25rem;
}

.itName {
  font-size: 3rem;
  animation: 2s appear-red ease;
}

.itFlashy {
  -webkit-box-reflect: below -1ex linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  animation: 2s appear-green ease;
}

.itDuration {
  font-size: 1.5rem;
}

.playersEntryPosition {
  margin-right: var(--boomer-safe-space);
}

.playersEntryIt {
  opacity: 0;
  margin-right: var(--boomer-safe-space);
}

.playersEntryIt.show {
  opacity: 1;
}

.rules {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 1.5rem;
}

.rulesContent {
  padding: var(--boomer-safe-space);
}

.rulesTitle {
  font-size: 2.5rem;

  margin-bottom: var(--boomer-safe-space);
}

.leftSide {
  top: 2rem;
  left: 2rem;
  pointer-events: none;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--boomer-safe-space);
}

.time {
  font-size: 2rem;
}

.timeContent {
  padding: var(--boomer-safe-space);
}

.players {
  top: 6rem;
  left: 2rem;
  animation: var(--boomer-quick-transition-duration) appear-left ease;
}

.playersContent {
  padding: var(--boomer-safe-space);
}

.playersEntry {
  font-size: 1.5rem;
  margin-top: var(--boomer-safe-space);
}

.playersEntry {
  margin-top: auto;
}

.playersEntryMe {
  color: var(--boomer-special-text-color);
}

.endScreen {
  position: fixed;
  inset: 0;
  text-align: center;
  color: white;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: 300ms appear-top ease;
  z-index: 4;
}

.endScreenPlayers {
  margin-top: var(--boomer-safe-space);
}

.endScreenPlayersItem {
  font-size: 3rem;
  padding: var(--boomer-safe-space);
}

@keyframes appear-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes appear-red {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
  }
  25% {
    color: rgb(255, 51, 0);
    transform: scale(2);
    opacity: 1;
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appear-green {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
  }
  25% {
    color: rgb(0, 255, 128);
    transform: scale(2);
    opacity: 1;
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
