.waiting {
  pointer-events: none;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  color: white;
}

.waitingIntro {
  font-size: 3rem;
}

.waitingTimer {
  font-size: 5rem;
  padding: var(--boomer-safe-space);
}

.waitingTip {
  margin-top: var(--boomer-safe-space);
  font-size: 1.5rem;
}

.rules {
  pointer-events: none;
  position: fixed;
  top: 66px;
  left: 18px;
  z-index: 1;
  font-size: 1.75rem;
}

.rulesContent {
  padding: var(--boomer-safe-space);
}

.rulesTitle {
  font-size: 2.5rem;

  margin-bottom: var(--boomer-safe-space);
}

.players {
  pointer-events: none;
  position: fixed;
  top: 66px;
  left: 18px;
  z-index: 1;
}

.playersContent {
  padding: var(--boomer-safe-space);
}

.playersEntry {
  font-size: 1.5rem;
  margin-top: var(--boomer-safe-space);
}

.playersEntry {
  margin-top: auto;
}

.playersEntryMe {
  color: var(--boomer-special-text-color);
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
}

.players {
  padding: 10px;
}

.players > * {
  margin-top: 10px;
}
