.match-ranking {
  pointer-events: none;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.match-ranking__title {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
}

.match-ranking__squads {
  display: flex;

  padding-right: 10px;
  padding-bottom: 10px;
}

.match-ranking__squads > .squad-score {
  flex: 1 0 0;
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
}
