.container {
  display: inline-flex;
  width: 1em;
  height: 1em;
  border-radius: var(--boomer-border-radius);
  color: white;
  background: rgb(97, 97, 97);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.first {
  color: white;
  background: #3ba55d;
}

.second {
  color: white;
  background: #a5953b;
}

.third {
  color: white;
  background: #a53b5d;
}
