.prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.prompt__padding {
  padding: 10px;
}

.prompt__actions {
  display: flex;
  padding-top: 5px;
}

.prompt__actions > * {
  flex: 1;
}