.tag-ranking {
  pointer-events: none;
  position: fixed;
  top: 5%;
  left: 30px;
  z-index: 10;
}

.tag-ranking__title {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
}

.tag-ranking__players {
  padding: 10px;
}

.tag-ranking__players > * {
  margin-top: 10px;
}
