:root {
  --boomer-font-size-normal: 16px;

  --boomer-text-color: #000;
  --boomer-bg-color: #fff;
  --boomer-bg-select-color: #efefef;
  --boomer-special-text-color: yellow;

  --boomer-border-radius: 3px;

  --boomer-control-border: 1px solid var(--boomer-text-color);
  --boomer-control-height: 30px;

  --boomer-safe-space: 10px;

  --boomer-action-ok-text-color: white;
  --boomer-action-ok-bg-color: #d49500;

  --boomer-action-other-text-color: white;
  --boomer-action-other-bg-color: #777777;

  --boomer-quick-transition-duration: 100ms;
}

.boomer-bright {
  --boomer-text-color: #222;
  --boomer-bg-color: #fafafa;
  --boomer-bg-select-color: #dadada;
}

.boomer-dark {
  --boomer-text-color: #fff;
  --boomer-bg-color: #222;
  --boomer-bg-select-color: #555;
}

.boomer-theme--ok {
  --boomer-action-text-color: var(--boomer-action-ok-text-color);
  --boomer-action-bg-color: var(--boomer-action-ok-bg-color);
}

.boomer-theme--other {
  --boomer-action-text-color: var(--boomer-action-other-text-color);
  --boomer-action-bg-color: var(--boomer-action-other-bg-color);
}

.boomer-p-t {
  padding-top: var(--boomer-safe-space);
}

.boomer-text-shadow {
  text-shadow: -1px -1px 0 #0f0f0f, 1px -1px 0 #0f0f0f, -1px 1px 0 #0f0f0f, 1px 1px 0 #0f0f0f, 0 0.13rem 1px rgb(0 0 0 / 49%);
}
