:root {
  --chad-font-size-small: 14px;
  --chad-font-size-normal: 16px;
  --chad-font-size-big: 20px;

  --chad-text-color: #000;
  --chad-text-suble-color: #555;
  --chad-bg-color: #fff;
  --chad-bg-select-color: #efefef;
  --chad-special-text-color: yellow;

  --chad-border-radius: 3px;

  --chad-control-border: 1px solid var(--chad-text-color);
  --chad-control-height: 30px;

  --chad-safe-space: 10px;

  --chad-action-ok-text-color: white;
  --chad-action-ok-bg-color: #d49500;

  --chad-action-other-text-color: white;
  --chad-action-other-bg-color: #777777;

  --chad-quick-transition-duration: 100ms;
}

.chad-bright {
  --chad-text-color: #222;
  --chad-text-suble-color: #555;
  --chad-bg-color: #fafafa;
  --chad-bg-select-color: #dadada;
}

.chad-dark {
  --chad-text-color: #fff;
  --chad-text-suble-color: #ddd;
  --chad-bg-color: #222;
  --chad-bg-select-color: #555;
}

.chad-subtle {
  color: var(--chad-text-suble-color);
}

.chad-theme--ok {
  --chad-action-text-color: var(--chad-action-ok-text-color);
  --chad-action-bg-color: var(--chad-action-ok-bg-color);
}

.chad-theme--other {
  --chad-action-text-color: var(--chad-action-other-text-color);
  --chad-action-bg-color: var(--chad-action-other-bg-color);
}

.chad-p-t {
  padding-top: var(--chad-safe-space);
}

.chad-text-shadow {
  text-shadow: -1px -1px 0 #0f0f0f, 1px -1px 0 #0f0f0f, -1px 1px 0 #0f0f0f, 1px 1px 0 #0f0f0f, 0 0.13rem 1px rgb(0 0 0 / 49%);
}
