.container {
  color: var(--chad-text-color);
  border-radius: var(--chad-border-radius);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  position: relative;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: var(--chad-border-radius);
  background: var(--chad-bg-color);
  opacity: 0.8;
}
