.container {
  font-size: var(--chad-font-size-normal);
  font-weight: 600;
  color: var(--chad-action-text-color);
  background-color: var(--chad-action-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--chad-border-radius);
  line-height: var(--chad-control-height);
  padding: 0 var(--chad-safe-space);
  cursor: pointer;

  position: relative;
}

.foreground {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
}

.container:active > .foreground {
  opacity: 0.1;
}
