.button {
  font-size: var(--chad-font-size-normal);
  display: flex;
  cursor: pointer;
  color: var(--chad-text-color);
  background: var(--chad-bg-color);
  border: var(--chad-control-border);
  border-radius: var(--chad-border-radius);
  line-height: var(--chad-control-height);
  padding: 0 var(--chad-safe-space);
}

.prompt {
  flex: 1 1;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.arrow {
  flex: 0 0;
  margin-left: var(--chad-safe-space);
  pointer-events: none;
}

.list {
  font-size: var(--chad-font-size-normal);
  width: 100%;
  max-height: 200px;
  color: var(--chad-text-color);
  background: var(--chad-bg-color);
  border-radius: var(--chad-border-radius);
  padding: calc(var(--chad-safe-space) / 2) 0;
  overflow-y: auto;
}

.item {
  padding: calc(var(--chad-safe-space) / 2) var(--chad-safe-space);
  cursor: pointer;
}

.item:hover,
.item.selected {
  background-color: var(--chad-bg-select-color)
}
