.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  flex: 1;
}

.bottom {
}

.bigBoldAndBeautiful {
  font-size: var(--chad-font-size-big);
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
}