.container {
  margin: calc(var(--chad-safe-space) * -1);
  margin-right: 0;
  margin-bottom: 0;
}

.container:empty {
  display: none;
}

.container > * {
  margin: var(--chad-safe-space);
  margin-right: 0;
  margin-bottom: 0;
}
