:root {
  min-width: 220px;
}

body {
  height: 100%;
  margin: 0;
  color: var(--chad-text-color);
  font-family: sans-serif;
  font-size: var(--chad-font-size-normal);
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

body > div {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-link {
  color: var(--chad-text-color);
  font-weight: 500;
  text-decoration: none;
}

html {
  background-color: var(--chad-bg-color);
  background-image: linear-gradient(#ffffff00, #00000033);
}

.bg-info {
  background: linear-gradient(#4f94f1, #222aa0);
}

.bg-good {
  background: linear-gradient(#5df14f, #31a022);
}

.bg-bad {
  background: linear-gradient(#f14f4f, #a02222);
}
.text-bad {
  color: #f14f4f;
}

.bg-warn {
  background: linear-gradient(#f1b64f, #a07222);
}

.bg-neutral {
  background: linear-gradient(hsl(38, 0%, 97%), hsl(38, 0%, 88%));
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active {
  transform: translateX(0);
  transition: transform var(--chad-quick-transition-duration) ease-in-out;
}

.slide-left-exit {
  transform: translateX(0);
}

.slide-left-exit-active {
  transform: translateX(-100%);
  transition: transform var(--chad-quick-transition-duration) ease-in-out;
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: transform var(--chad-quick-transition-duration) ease-in-out;
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: transform var(--chad-quick-transition-duration) ease-in-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
}
